// Here you can add other styles

.c-sidebar  {
    background-color: #2e2e2e !important;
}


.c-sidebar-nav-title {
    margin-top: -0.5rem;
}

.c-sidebar-nav-divider {
    border-top: 1px solid white;
}
